doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title 監測垃圾量
    // Bootstrap core CSS
    link(href='./stylesheets/bootstrap.css', rel='stylesheet')
    link(href='./stylesheets/custom-styles.css', rel='stylesheet')
    link(href='./stylesheets/image-effects.css', rel='stylesheet')
    link(href='./stylesheets/normalize.css', rel='stylesheet')
    link(href='./stylesheets/component.css', rel='stylesheet')
    link(rel='stylesheet', href='./stylesheets/font-awesome.css')
    link(rel='stylesheet', href='./stylesheets/font-awesome-ie7.css')

    script(src='./javascripts/html5shiv.js')
    script(src='./javascripts/respond.min.js')
    script(src='./javascripts/modernizr.custom.js')

    style.
      #map {
      height: 100%;
      weight: 80%;
      }
      html, body {
      height: 80%;
      weight: 100%;
      margin: 0;
      padding: 0;
      }

      style.
          table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          }
          td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          }
          tr:nth-child(even) {
          background-color: #dddddd;
          }
  body
      .container.page-styling
        .header-wrapper
          .site-name
            h1 監測垃圾量
          .menu
            .navbar
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .navbar-collapse.collapse
                ul.nav.navbar-nav
                  if member
                    li
                      a(href='/monitor') Monitor Trash
                    li
                      a(href='/history') History
                    li
                      a(href='/pos') Pos
                    li
                      a(href='/logout') Logout

              // /.navbar-collapse
            .mini-menu
              label
                select.selectnav
                  option(value='#', selected='') Home
                  option(value='#') About
                  option(value='#') → Another action
                  option(value='#') → Something else here
                  option(value='#') → Another action
                  option(value='#') → Something else here
                  option(value='#') Services
                  option(value='#') Portfolio
                  option(value='#') Contact


      br
      center
       .container
        .logmod__form
          form.simform(name='sentMessage', action='/Monitor', method='POST', novalidate='')
            .sminputs
              .input.full
                input#account.form-control(type='text', placeholder='serach location', name='meassage', required='')
            .simform__actions
              button.btn.input.sumbit(type='submit') Submit
      if err
        h1
        center= err
      br
      br
      center
       .container
        .row
          table
           if trash_info
              tr
                 th 垃圾桶編號
                 th 垃圾桶地點
                 th 垃圾量
                 th 系統功能
                 th 時間
              for items in trash_info
                  tr
                    if (items.Amount>45)
                        th(bgcolor='#FF0000')= items.Trashid
                        th(bgcolor='#FF0000')= items.Place
                        th(bgcolor='#FF0000')= items.Amount
                        th(bgcolor='#FF0000')= items.Health
                        th(bgcolor='#FF0000')= items.Time
                    else
                      th= items.Trashid
                      th= items.Place
                      th= items.Amount
                      th= items.Health
                      th= items.Time
        br
        br


    #map

    script.

      locations = !{google_location};
      console.log(locations);

      function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      //center: {lat: 25.024, lng: 121.57}

      center: {lat: locations[0].lat, lng: locations[0].lng}
      });
      // Create an array of alphabetical characters used to label the markers.
      var labels = '1';
      // lat: 24.795621, lng: 120.998015
      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
      return new google.maps.Marker({
      position: location,
      label: labels[i % labels.length]
      });
      });
      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }



    script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAtEd4vN3tESyMRsfPuRi5805Rnr1Lndts&callback=initMap')

    script(src='./javascripts/jquery-1.9.1.js')
    script(src='./javascripts/bootstrap.js')
    script(src='./javascripts/modernizr-2.6.2-respond-1.1.0.min.js')
    script(src='./javascripts/masonry.pkgd.min.js')
    script(src='./javascripts/imagesloaded.js')
    script(src='./javascripts/classie.js')
    script(src='./javascripts/AnimOnScroll.js')
    script.
      new AnimOnScroll( document.getElementById( 'grid' ), {
      minDuration : 0.4,
      maxDuration : 0.7,
      viewportFactor : 0.2
      } );
